/* Custom styles for Streamlit website
body {
    background-color: #f4f4f9;
    font-family: Arial, sans-serif;
}

h1 {
    color: #4CAF50;
}

.css-1d391kg {
    background-color: #2c3e50;
}

.stTextInput, .stDateInput, .stSelectbox, .stButton {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.stSuccess {
    background-color: #2ecc71;
    padding: 10px;
    border-radius: 5px;
    color: white;
}
body {
    background-color: #f0f8ff;  /* Light blue background */
/* }
.css-1d391kg {
    background-color: #2c3e50;  /* Set sidebar background color */
/* } */ 
